.icon i, .icon h1 {
    position: fixed;
}
.icon h1 {
    top: 57%;
    right: 45px;
    background-color:aliceblue;
    width: 50px;
    border-radius:50%
}
.icon i{
    top: 50%;
    right: 70px;
    color: peru;
    cursor: pointer
}
.icon:hover{
    opacity: .7

}

.hide{
    display: none
}